h1 {color: forestgreen; font-size: 250%; font-weight: bold}

body{
background: white;
color: forestgreen;
font-size: 12 pt;
 font-family: 'helvetica+neue', sans-serif; }
 
 
 nav li { border: 2px solid white; 
 display: inline-block;
 padding:10px;
 margin: 5px;
 background: white
 
 }
 
 a {color: blue;
 text-decoration: none;}
 a:hover {color: yellow}