h1 {color: navy; font-size: 250%; font-weight: bold}

body{
background: lightgray;
color: navy;
font-size: 12 pt;
 font-family: 'helvetica+neue', sans-serif; }
 
 
 nav li { border: 2px solid white; 
 display: inline-block;
 padding:10px;
 margin: 5px;
 background: lightgray
 
 }
 
 a {color: red;
 text-decoration: none;}
 a:hover {color: yellow}